<!-- Story Modal -->
<div class="modal fade" id="storyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="userStoryLabel">New Story</h3>
      </div>
      <div class="modal-body">

         <%= form_for ([@project, @story]) do |f| %>
          <div class="form-group">
            <label for="name">Title</label> 
             <%= f.text_field :title, class: 'form-control', placeholder: "Enter story title"  %>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <%= f.text_area :description, class: 'form-control', placeholder: "Enter story description", cols: 50, rows: 4 %>
          </div>
          <div class="form-group">
            <label for="points">Points</label>
            <%= f.number_field :points, class: 'form-control', placeholder: "Enter story points" %>
          </div>
          <div class="form-group">
            <label for="user">User</label>
            <%= f.select :user_id, User.all.collect {|user| [ user.full_name + " - " + user.email, user.id ] }, { include_blank: "Select User" }, class: 'form-control' %>
          </div>
           <div class="form-group">
            <label for="user">Label</label>
            <%= f.select :label_ids, Label.all.collect {|label| [ label.title, label.id ] }, { include_blank: "Select Label" }, class: 'form-control' %>
          </div>

          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>

          <button type="submit" class="btn btn-info">
             <span class="glyphicon glyphicon-ok"></span> Save
          </button>
        <% end %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  </div>
<!-- /.modal -->