<%= render 'menu' %>

<div class="container" style="padding-top: 25px">

  <div class="row">
    <div class="col-md-12">

      <% if alert %>
         <ul class="alert alert-danger">
            <li> <span class="glyphicon glyphicon-exclamation-sign"></span> <%= alert %></li>
         </ul>
      <% end %>

      <h4 style="">
        <span id="stories_size" class="label label-default"><%= @stories.size %></span> Stories 
        <span id="stories_points" class="label label-default"><%= @stories.collect{|story| story.points}.sum %></span> Total Points
      </h4>   
      
      <hr/>

       <%= form_for([@project, @story], remote: true, html: {class: "form-inline", style: "padding-bottom:15px;"}) do |f| %>
        <div class="form-group">
          <%= f.text_field :title, class: 'form-control', placeholder: "Add new story", autofocus: true %>
        </div>
        <div class="form-group">
           <button class="btn btn-info btn-s" type="submit">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
          </button>
        </div>
         <div class="form-group">
          <button id="story_modal_button" class="btn btn-primary btn-s" data-toggle="modal" data-target="#storyModal">
             <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add with detail
          </button>
        </div>
      <% end %>

       

      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Points</th>
            <th>Owner</th>
            <th>Labels</th>
            <th>Complete</th>
            <th></th>
          </tr>
        </thead>

         <tbody id = "story_table">
          <%= render(@stories) %>
        </tbody>
      </table>
    </div>
  </div>
  
  <hr>

  <footer>
    <p>&copy; 2017 Freedom, Inc.</p>
  </footer>
</div>
<!-- /container -->

<%= render 'story_modal' %>

<%= javascript_include_tag "backlog", "data-turbolinks-track" => true %>

